*{
    margin: 0;
    padding: 0;

}
body
{
    background: rgb(89, 7, 220);
    color: azure;
    font-family: system-ui;

}
.mgs{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: rgb(235, 223, 223);
    margin: 4px 0;
    border-radius: 15px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: rgb(27, 26, 29);
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: rgb(225, 13, 13);
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'total:  ';

}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rgba(220, 11, 140, 0.747);
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: rgba(42, 34, 39, 0.747);
    letter-spacing: 2px;
}
.btnsearch
{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    
    width: 45%;

}
#deleteall{
    margin: 20px 0;;

}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;

}
table th{
    text-transform: uppercase;
}
tr,td{
    padding: 5px;
}